@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

/* .episodesContainer{
  
    background: rgb(60, 58, 58);
    color: white;
    
}  */
.border {
  --bs-border-color: #FFFF00;

}


.hr1 {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #d6d632;
  height: 1px;
}



.container {
  border-radius: 20px;
  margin-top: 0px;
  background: #2525255c;
  color: #1c87c9;
  /* width: 100vw; */
  /* display: table; */
  padding-bottom: 20px;
  max-width: 100vw;




}

@media screen and (max-width: 767px) {
  .container {
    min-height: 50vh;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

  }
}

.th {
  color: #1c87c9;
}


.table {
  justify-content: center;
  color: white;
  font-family: 'Mulish', sans-serif;
  padding-top: 20px;
  margin-top: 20px
}

.both {
  display: flex;
  position:relative;
    z-index:2;
    color:#fff;


}
.bb{
  position:relative;
    z-index:2;
    color:#fff;

}
.background-image{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  
    background-size:cover;
    z-index:1;
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);   
  mask-image: linear-gradient(to bottom, rgb(6, 6, 6) -100%, transparent 100%);

}

.img {
  border-radius: 10px;
}

.title {
  font-weight: bolder;
  text-decoration: none;
  pointer-events: none;
  color: #1c87c9;
  float: left;
}

.name {
  text-decoration: none;
  pointer-events: none;
  color: white;
  float: right;

}




.list-group {
  padding-left: revert;
  width: 70vw;
  --bs-list-group-border-color: white;
  --bs-list-group-bg: rgba(0, 0, 0, 0);
}



.not {
  color: red;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;

  float: right;
}

.both1 {
  padding: 30px;
  /* background-color: black; */
  margin-top: 20px;
  border-radius: 20px;


}

.both {
  display: flex;
  padding-left: 0px;
  padding: 30px;
 
  margin-top: 20px;
  border-radius: 20px;
  


}



@media only screen and (max-width: 768px) {
  .both {
    display: block;

  }

}



.episodesContainer {
  /* margin-top: 20px; */
  position:relative;
    padding:15px;
}

.note {
  color: red;
}

/* video */
.gallery {
  display: flex;
  flex-flow: nowrap;
  border: solid rgb(240, 240, 240);
  /* width: 70vw; */
  height: 40vw;
  border-radius: 20px;


}



.gallery div {
  flex: 150px;
  position: relative;
  text-align: center;
  display: inline-flex;
  padding-left: 1vw;
  padding-right: 1vw;
  /* flex: 40%;
    position: relative;
    text-align: left;
    display: inline-flex;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 10vh; */

}



.gallery div:nth-of-type(1) {
  flex: 10000 1 300px;
}

.gallery div::before {
  content: "";
  display: contents;
  padding-top: 100px;
}

.gallery div:nth-of-type(1)::before {
  padding-top: 56.25%;
}

.gallery iframe,
.gallery span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 25px;
}

.gallery span::-webkit-scrollbar { 

overflow: hidden;
width: 2px;
}


.gallery a {
  display: inline-block;
  margin-top: 5px;
}

.gallery a:last-child {
  margin-bottom: 5px;
}

.gallery iframe,
.gallery img {
  max-width: 100%;

  vertical-align: left;
}

/* navlink */
.nav-link {
  font-family: 'Mulish', sans-serif;
  color: #1c87c9;
  font-weight: bolder;

}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: #8ebf42;
  color:black;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .nav-item.show.nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: #8ebf42;
  color:black;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

