




<!-- <--------------- Navigation content-------------->
<app-searchbox></app-searchbox>
<!-- <--------------- If 404 error content-------------->
<div class="container" *ngIf="errorep&&erroryt&&errorss&&errortop">
    <h1>404 Not Found</h1>

</div>
<!-- <--------------- If not 404 error content-------------->
<div class="container" *ngIf="!errorep&&!erroryt&&!errorss&&!errortop">
    <div class="episodesContainer">
        <div *ngIf="errortop">
            <h1>404 Not Found</h1> <!--  server side error -->
        </div>


        <app-loading-spinner *ngIf="loader2"></app-loading-spinner>
<!-- <--------------- Summary content-------------->
        <div class="both" *ngIf="dataload" >
            <div class="left"><img class="img" [src]="datar.data.images.jpg.image_url"></div>

            <div class="left" style="display: contents;">
                <ul class="list-group list-group-flush" style="text-align:left;" *ngIf="dataload">
                    <li class="list-group-item" *ngIf="datar.data.title "><a class="title">Title:</a> <a
                            class="name">{{datar.data.title}}</a>
                    </li>
                    <li class="list-group-item" *ngIf="datar.data.score"><a class="title">Score:</a> <a
                            class="name">{{datar.data.score}}</a></li>
                    <li class="list-group-item" *ngIf="datar.data.year"><a class="title">Year of Release:</a> <a
                            class="name">{{datar.data.year}}</a></li>
                    <li class="sys list-group-item" *ngIf="datar.data.synopsis">
                        <a class="title">Synopsis:</a> <a class="name">{{datar.data.synopsis}}</a>
                    </li>
                    <li class="list-group-item" *ngIf="!datar.data.title"><a class="title">Title:</a> <a class="not">Not
                            Available</a>
                    </li>
                    <li class="list-group-item" *ngIf="!datar.data.score"><a class="title">Score:</a> <a class="not">Not
                            Available</a>
                    </li>
                    <li class="list-group-item" *ngIf="!datar.data.year"><a class="title">Year of Release:</a> <a
                            class="not">Not
                            Available</a></li>
                    <li class="list-group-item sys" *ngIf="!datar.data.synopsis">
                        <a class="title ">Synopsis:</a> <a class="not">Not Available</a>
                    </li>
                </ul>
                <a style="font-size: 20px;  float: left;text-align: left;"> <br> <br></a>
            </div>
        </div>
        <!-- <--------------- In Episode component Navigation content-------------->
        <nav>
            <div class="nav nav-tabs both" id="nav-tab" role="tablist">
                <button class="nav-link active " id="nav-Episode-tab" data-bs-toggle="tab" data-bs-target="#nav-Episode"
                    type="button" role="tab" aria-controls="nav-Episode" aria-selected="true"
                    (click)="showep()">Episodes</button>
                <button class="nav-link" id="nav-yt-tab" data-bs-toggle="tab" data-bs-target="#nav-yt" type="button"
                    role="tab" aria-controls="nav-yt" aria-selected="false" (click)="getyt()">Trailers &
                    Reviews</button>
                <button class="nav-link" id="nav-music-tab" data-bs-toggle="tab" data-bs-target="#nav-music"
                    type="button" role="tab" aria-controls="nav-music" aria-selected="false" (click)="getmusic()">Music
                    Videos</button>
                <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images"
                    type="button" role="tab" aria-controls="nav-images" aria-selected="false"
                    (click)="showImages()">Images</button>
                <button class="nav-link" id="nav-relations-tab" data-bs-toggle="tab" data-bs-target="#nav-relations"
                    type="button" role="tab" aria-controls="nav-relations" aria-selected="false"
                    (click)="showrelated()">Related Anime</button>
            </div>
        </nav>

        <!-- <--------------- Tab content-------------->
        <div class="tab-content " id="nav-tabContent">

            <!-- <--------------- Episode details content-------------->
            <div class="tab-pane fade show active " id="nav-Episode" role="tabpanel" aria-labelledby="nav-Episode-tab"
                tabindex="0">
                <div *ngIf="errorep">
                    <h1>404 Not Found</h1>
                </div>


                <app-loading-spinner *ngIf="loader"></app-loading-spinner>
                <app-episodevids *ngIf="Anilistid!=null" [id]="Anilistid" ></app-episodevids>
            </div>

            <!-- <--------------- Youtube & reviews content-------------->
            <div class="tab-pane fade " id="nav-yt" role="tabpanel" aria-labelledby="nav-yt-tab" tabindex="0"
                style=" justify-content: center;">
                <div *ngIf="noytvidfound" style="width:100% ;padding: 30px;">
                    <h1>No Trailer Found</h1>
                </div>
                <div *ngIf="erroryt">
                    <h1>404 Not Found</h1>
                </div>

                <app-loading-spinner *ngIf="showytspin"></app-loading-spinner>

                <div class="col-lg-4 " style="width:100% ;" *ngIf="ytvid">
                   
                    <div class="gallery" style="background-color: black;">
                        <div>
                            <iframe style="border-radius: 20px;" [src]="yturl" allowfullscreen frameborder="0"
                                name="tab"></iframe>
                        </div>
                        <div>
                            <span>
                                <div style="background-color: black;border-radius: 20px;"
                                    *ngFor="let vid of viddata.data.promo">
                                    <a [href]="vid.trailer.embed_url" target="tab"><img
                                            [src]="vid.trailer.images.image_url" style="content:none;padding-top:5px">
                                        <a>{{vid.title}}</a>
                                    </a>
                                </div>
                            </span>

                        </div>

                    </div>
                    <a> Trailer : {{datar.data.title}}</a>
                </div>
                <!-- <--------------- reviews content-------------->
                <div class="reviews" style="width: auto;" *ngIf="!erroryt&&ytvid">
                    <app-reviews [id]="sendid()"></app-reviews>
                </div>

            </div>



            <!-- <--------------- Music content-------------->
            <div class="tab-pane fade " id="nav-music" role="tabpanel" aria-labelledby="nav-music-tab" tabindex="0"
                style=" justify-content: center; ">

                <div *ngIf="nomusicvidfound" style="padding: 30px;">
                    <h1> No Music Videos Found</h1>
                </div>
                <div *ngIf="errorss">
                    <h1>404 Not Found</h1>
                </div>

                <app-loading-spinner *ngIf="showmusicspin"></app-loading-spinner>

                <div class="col-lg-4 " style="width:100% ;" *ngIf="musicvid">

                    <div class="gallery" style="background-color: black;">
                        <div>
                            <iframe style="border-radius: 20px;" [src]="musicurl" allowfullscreen frameborder="0"
                                name="tabmusic"></iframe>
                        </div>
                        <div>
                            <span>
                                <div style="background-color: black;border-radius: 20px;" 
                                *ngFor="let vids of musicviddata.data.music_videos">
                                    <a [href]="vids.video.embed_url" target="tabmusic"><img
                                            [src]="vids.video.images.image_url" style="content:none;padding-top:5px">
                                        <a>{{vids.title}}</a>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                   
                </div>
              




            </div>

            <!-- <--------------- Images content-------------->
            <div class="tab-pane fade " id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab" tabindex="0">
                <div class="both">
                    <app-images *ngIf="inImages" [id]="sendid()"></app-images>
                </div>
            </div>

            <!-- <--------------- Relations content-------------->
            <div class="tab-pane fade " id="nav-relations" role="tabpanel" aria-labelledby="nav-relations-tab"
                tabindex="0">
                <div class="both1">
                    <app-relations *ngIf="showrelations" [id]="sendid()"></app-relations>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- <--------------- Recommendations content-------------->
<app-recommendations [id]="sendid()"></app-recommendations>