@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

/* .episodesContainer{
  
    background: rgb(60, 58, 58);
    color: white;
    
}  */
.border {
    --bs-border-color: #FFFF00;

}


.hr1 {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #d6d632;
    height: 1px;
}


.container {
    border-radius: 20px;
    margin-top: 20px;
    background: #252525;
    color: #1c87c9;
    min-height: 70vh;
    width: 90vw;
    display: table;
    padding-bottom: 20px;



}

@media screen and (max-width: 767px) {
    .container {
        min-height: 50vh;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
}

.th {
    color: #1c87c9;
}


.table {
    justify-content: center;
    color: white;
    font-family: 'Mulish', sans-serif;
    padding-top: 20px;
    margin-top: 20px
}

.both {
    display: flex;

}

.img {
    border-radius: 10px;
}

.title {
    font-weight: bolder;
    text-decoration: none;
    pointer-events: none;
    color: #1c87c9;
    float: left;
}

.name {
    text-decoration: none;
    pointer-events: none;
    color: white;
    float: right;

}





.list-group {
    padding-left: revert;
    width: 60vw;
    --bs-list-group-border-color: white;
    --bs-list-group-bg: rgb(46 45 45)
}



.not {
    color: red;
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;

    float: right;
}

.both1 {
    padding: 30px;
    background-color: rgb(46 45 45);
    margin-top: 20px;
    border-radius: 20px;


}

.both {
    display: flex;
    padding: 30px;
    background-color: rgb(46 45 45);
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;

}

@media only screen and (max-width: 768px) {
    .both {
        display: block;

    }

}



.episodesContainer {
    margin-top: 20px;
}

.note {
    color: red;
}

/* loader */


@keyframes ldio-s9icq3dhhyd-o {
    0% {
        opacity: 1;
        transform: translate(0 0)
    }

    49.99% {
        opacity: 1;
        transform: translate(30.4px, 0)
    }

    50% {
        opacity: 0;
        transform: translate(30.4px, 0)
    }

    100% {
        opacity: 0;
        transform: translate(0, 0)
    }
}

@keyframes ldio-s9icq3dhhyd {
    0% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(30.4px, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}

.ldio-s9icq3dhhyd div {
    position: absolute;
    width: 30.4px;
    height: 30.4px;
    border-radius: 50%;
    top: 79.8px;
    left: 64.6px;
}

.ldio-s9icq3dhhyd div:nth-child(1) {
    background: #8ebf42;
    animation: ldio-s9icq3dhhyd 1.2195121951219512s linear infinite;
    animation-delay: -0.6097560975609756s;
}

.ldio-s9icq3dhhyd div:nth-child(2) {
    background: #1c87c9;
    animation: ldio-s9icq3dhhyd 1.2195121951219512s linear infinite;
    animation-delay: 0s;
}

.ldio-s9icq3dhhyd div:nth-child(3) {
    background: #8ebf42;
    animation: ldio-s9icq3dhhyd-o 1.2195121951219512s linear infinite;
    animation-delay: -0.6097560975609756s;
}

.loadingio-spinner-dual-ball-yi4gz66q48h {
    width: 190px;
    height: 190px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-s9icq3dhhyd {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-s9icq3dhhyd div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */

/* video */



.gallery {
    display: flex;
    flex-flow: nowrap;
    border: solid rgb(240, 240, 240);
    width: 70vw;
    height: 35vw;
    border-radius: 20px;


}

.gallery div {
    /* блоки видео + списков */
    flex: 150px;
    position: relative;
    text-align: center;
    display: inline-flex;
    padding-left: 1vw;
    padding-right: 1vw;
    /* flex: 40%;
    position: relative;
    text-align: left;
    display: inline-flex;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 10vh; */

}

.gallery div:nth-of-type(1) {
    flex: 10000 1 300px;
    /* если ширина менее 300 + 150 = 450px , то списки миниатюр смещаются на нижний ряд, подробнее про свойство flex */
}

.gallery div::before {
    content: "";
    display: contents;
    padding-top: 100px;
}

.gallery div:nth-of-type(1)::before {
    padding-top: 56.25%;
}

.gallery iframe,
.gallery span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gallery a {
    /* для разнообразия, иконки не затемнены, так проще оценить код галереи видео */
    display: inline-block;
    margin-top: 5px;
}

.gallery a:last-child {
    margin-bottom: 5px;
}

.gallery iframe,
.gallery img {
    max-width: 100%;

    vertical-align: left;
}

/* navlink */
.nav-link {
    font-family: 'Mulish', sans-serif;
    color: #1c87c9;
    font-weight: bolder;

}

/* downbutton */

.btn {

    text-align: center;
}

.mybtn {
    border-radius: 30px;
    border-color: #8ebf42;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 16px;
    background-color: #8ebf42;
    color: black;
    transition-delay: .2s;
    transition: .3s;
    font-variant-caps: all-small-caps;
    /* box-shadow:4px 3px 11px 0 #00ad25; */
}

.mybtn:hover {
    background-color: #8ebf42;
    box-shadow: 4px 3px 11px 0 #005a13;
    transform: scale(1.1);
}