<div class="episodesContainer">
    <div *ngIf="errortop">
        <h1>404 Not Found</h1>
    </div>

    <div *ngIf="loader2" class="loadingio-spinner-dual-ball-yi4gz66q48h">
        <div class="ldio-s9icq3dhhyd">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="both" *ngIf="dataload">

       
        <div class="left"><img class="img" [src]="datar.data.images.jpg.image_url"></div>
        

        <div class="left">
            <ul class="list-group list-group-flush" style="text-align:left;" *ngIf="dataload">
                <li class="list-group-item" *ngIf="datar.data.title "><a class="title">Title:</a> <a
                        class="name">{{datar.data.title}}</a>
                </li>
                <li class="list-group-item" *ngIf="datar.data.score"><a class="title">Score:</a> <a
                        class="name">{{datar.data.score}}</a></li>
                <li class="list-group-item" *ngIf="datar.data.year"><a class="title">Year of Release:</a> <a
                        class="name">{{datar.data.year}}</a></li>
                <li class="list-group-item" *ngIf="datar.data.synopsis">
                    <a class="title">Synopsis:</a> <a class="name">{{datar.data.synopsis}}</a>
                </li>
                <li class="list-group-item" *ngIf="!datar.data.title"><a class="title">Title:</a> <a class="not">Not
                        Available</a>
                </li>
                <li class="list-group-item" *ngIf="!datar.data.score"><a class="title">Score:</a> <a class="not">Not
                        Available</a>
                </li>
                <li class="list-group-item" *ngIf="!datar.data.year"><a class="title">Year of Release:</a> <a
                        class="not">Not
                        Available</a></li>
                <li class="list-group-item" *ngIf="!datar.data.synopsis">
                    <a class="title">Synopsis:</a> <a class="not">Not Available</a>
                </li>
            </ul>
            <div class="btn">
                <button class="mybtn" (click)="redirect(datar.data.mal_id)">View More Info</button>
            
            <a style="font-size: 20px;  float: left;text-align: left;"> <br> <br></a>
        </div>
    </div>
</div>