<nav class="navbar " id="navshow">
  <div class="nav-item" >
    <div class="logo" (click)="sendhome()" id="showme">AnimeWorld</div>
    
  </div>
  <div class="nav-item nav-ite"  (click)="sendtop()">
    Top Anime
  </div>
  <div class="nav-item nav-ite" (click)="sendcurrent()" >
    Current Season
  </div>
  <div class="nav-item nav-ite" (click)="sendupcoming()">
Upcoming
  </div>
 
  



  <form class="form" id="formchange">
    <input type="text" name="searchbox" class="input" id="input" [(ngModel)]="enteredSearchValue" required
      placeholder="Search Anime..." (keyup.enter)="SendSearchedvalueMethod()">
    <i class="fa fa-search" type="submit" (click)="SendSearchedvalueMethod() "></i>
  </form>

</nav>