
<nav class="navbar desk" id="navshow">
  <!-- <--------------- Nav details-------------->
  <div class="nav-item">
    <div class="logo" (click)="sendhome()" id="showme">AnimeWorld</div>
  </div>
  <div class="nav-item nav-ite" (click)="sendtop()">
    Top Trending
  </div>
  <div class="nav-item nav-ite" (click)="sendcurrent()">
    Currently Streaming
  </div>
  <div class="nav-item nav-ite" (click)="sendupcoming()">
    Upcoming
  </div>
  <!-- <--------------- Search box -------------->
  <form class="d-flex">
    <input class="input "name="searchbox" type="search" id="input" placeholder="Search" aria-label="Search" [(ngModel)]="enteredSearchValue" required
    placeholder="Search Anime..." (keyup.enter)="SendSearchedvalueMethod()">
    <i class="fa fa-search" type="submit" (click)="SendSearchedvalueMethod() "></i>
  </form>
  <!-- <form class="form" id="formchange">
    <input type="text" name="searchbox" class="input" id="input" [(ngModel)]="enteredSearchValue" required
      placeholder="Search Anime..." (keyup.enter)="SendSearchedvalueMethod()">
    <i class="fa fa-search" type="submit" (click)="SendSearchedvalueMethod() "></i>
  </form> -->

</nav>


  <!-- <---------------Responsive navbar Search box -------------->
<!-- <div class="mob" role="navigation">
  <nav class="mob navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container-fluid">
      <div class="logo" (click)="sendhome()" id="showme">AnimeWorld</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" id="dropbox" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent" data-toggle="collapse"
        data-target=".navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills">
          <li class="nav-item">
            <div class="nav-item nav-ite" (click)="sendtop()">
              Top Anime
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-item nav-ite" (click)="sendcurrent()">
              Currently Airing
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-item nav-ite" (click)="sendupcoming()">
              Upcoming
            </div>
          </li>
          <li class="nav-item">
            <form class="form" id="formchange">
              <input type="text" name="searchbox" class="input" id="input" [(ngModel)]="enteredSearchValue" required
                placeholder="Search Anime..." (keyup.enter)="SendSearchedvalueMethod()">
              <i class="fa fa-search" type="submit" (click)="SendSearchedvalueMethod() "></i>
            </form>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div> -->