@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.searchbox {


    margin-right: 35vw;
    margin-left: 40vw;
}

.btn {
    background: rgb(36, 36, 36);
}

.desk {
    display: none;
    padding-top: 8px;
}

.navbar {
    justify-content: start;
padding-right: 20px;
padding-top: 8px;
    padding-left: 20px;
    font-size: 1vw;
    background-color: black;
  background: black;
}

.logo:hover {
  
    transform: scale(1.2);
    transition: transform .9s,transform .5s,transform .5s;
    -webkit-transition: transform .9s, transform .5s, transform .5s;
    cursor:pointer

}
.nav-ite:hover{
    color: #1c87c9;
}


.nav-ite {
    padding-right: 10px;
    margin-right: 10px;
    text-align: left;
    color: white;

    cursor:pointer

}

.logo {
    padding-right: 10px;
    margin-right: 10px;
 
    color: white;
    font-weight: 600;
    /* display: "block"; */
    font-family: 'Press Start 2P', cursive;
    /* margin-top: 10px; */
    background: linear-gradient(to right, #8ebf42 50%, #1c87c9 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;


}
.logo{
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;
}

.check {
    color: white;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;
    margin-left: 20vw;
    margin-top: 25vh;
    background: linear-gradient(to right, #8ebf42 50%, #1c87c9 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    display: "none",

}


form {
 
margin-left: auto;


display: flex;transition: all 1s;

background: white;
/* box-sizing: border-box; */
border-radius: 25px;
border: 4px solid white;
    width: 400px;

}

input {
   
   
    width: 100%;
    ;
    height: 30.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;   
    border-radius: 50%;
    color: #8ebf42;
     transition: all 1s;
    float: left;
    margin-left: auto;
    padding: 2%;
}



form:hover input,
form:valid input {
    display: block;
}

form:hover .fa,
form:valid .fa {
    background: #8ebf42;
    color: #1c87c9;
}



a {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}


/* form:valid a {
    display: block;
} */


.navbar {
    display: flex;
}


@media only screen and (min-width: 768px) {
    .desk {
        display: flex;
    }

    .mob {
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    .mob {
        display: block;
    }

    .desk {
        display: none;
    }

    .navbar {
        font-size: 2vw;
    }

    form {
        margin-top: 2vw;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        display: block;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        transition: all 1s;
        height: 60px;
        background: white;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
        width: auto;
        height: 5.5vw;
    }


    .fa {
        
        width: 4vw;
        padding: 3px;
        height: 4vw;
        font-size: 2.5vw;
        /* line-height: 1vw; */
        /* top: 0.5vw; */
        right: 1vw;
    }
    .logo{
        font-size: 3vw;
    }
}



/* data */



h1{
    font-size: 20px;
  }
  .hr1{
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #FFFF00;
    height: 1px;
  }

/* 
  data */

  

.heading {
    font-size: 20px;
    /* font-family: 'Zen Kurenaido', sans-serif; */
    font-weight: bold;
  
  }
  
  .viewAll {
    /* font-family: 'Mulish', sans-serif; */
    position: relative;
    left: 35%;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    width: 82px;
  
  }
  
  
  .prevnex:hover {
    color: #8ebf42
  
  }
  
  .Image-Name:hover {
    color: #1c87c9;
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;
  
  }
  
  .Showing {
    padding: 5px;
  }
  
  .Image-Name:hover .show-name {
  
    white-space: initial;
    text-overflow: initial;
    word-wrap: normal;
    width: 210px;
    display: block;
    overflow: visible;
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;
  
  }
  
  #Banners-container {
    margin-top: 5px;
    width: 217px;
  
    flex-wrap: wrap;
    display: flex;
    border-color: aliceblue;
    margin-left: 15px;
  }
  
  #Banners-container img {
    width: 217px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
  }
  
  .Image-Name {
    position: relative;
    color: white;
    width: 217px;
  
  
  }
  
  .ep {
    background: red;
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 10px;
    font-size: 0.9em;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  
  .epair {
    background: #8ebf42;
    color: black;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 10px;
    font-size: 0.9em;
    font: 900;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  
  .rating {
    background: rgb(32, 241, 216);
    padding: 2px 8px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 295px;
    left: 10px;
    font-size: 0.5em;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  
  
  
  .watch {
    background: rgb(32, 241, 216);
    padding: 2px 8px;
    position: absolute;
    margin-right: 4px;
    margin-bottom: 4px;
    top: 295px;
    left: 150px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    font-size: 0.5em;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  
  .content-type {
    display: flex;
    height: 13px;
    margin: 7px 0 7px 0;
  }
  
  
  .type {
    display: flex;
    background: rgb(49, 49, 49);
    border-radius: 17px;
    padding: 6px 3px;
    font-size: 10px;
    align-items: center;
  }
  
  
  
  .show-name {
  
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 15px;
    cursor: default;
    margin-bottom: 5px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    width: 210px;
    overflow: visible;
    font-weight: 600;
  }
  
  .epcon {
    display: contents;
    margin-top: 20px;
  
  }