@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
  background-color: #0b0c2a;
  background: rgb(60, 58, 58);
  text-align: center;
  max-width:100%;
  min-height: 100vh;
  padding-bottom: 30px;
  
}



footer {
 
  font-size: 1vw;
 
  align-items: center;
  
  width: 100%;
  height: 13vw;
  margin: 0 auto;
  background: #252525;
  color: #ccc;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 1vw;
    height: 50vw;
  }
  body {
    background-color: #0b0c2a;
    background: rgb(60, 58, 58);
    text-align: center;
    max-width: 100vw;
    min-height: 70vh;
    padding-bottom: 5px;
    
  }
}

@media screen and (max-width: 465px) {
  footer {
    font-size: 1vw;
  }
}
@media screen and (max-width: 340px) {
  .social-medias a {
    margin-top: 1vw;
  }
}

.logo {
  height: 1.25rem;
  display: flex;
  
  padding-top: 5vw;
 font-family: 'Times New Roman';
 font-size: 3vw;
  align-items: center;
  color: #e5e5e5;
  justify-content: center;
}



.techs {
  gap: 1rem;
}

.techs a {
  color: #ccc;
  text-decoration: none;
  margin-top: 2vw;
 
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: all 0.25s ease 0s;
}


.flex {
  display: flex;

  justify-content: center;
}



.techs a:focus {
  border-color: #0e9e84;
  box-shadow: 0 0 0 3px #0e9e8480;
  outline: none !important;
}



.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }

   .scroll-to-top:hover{
    color:red;
   }