/* @import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap'); */

* {
    margin: 0;
    padding: 0;
    border: 0 none;
}




/* silder */
.cont-slider {

    position: relative;
    height: 80vh;
    max-height: 80vh;
background-color: #000000;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    animation: sliding 25s ease-out 0s backwards infinite;
    transition: animation .9s,animation .5s,animation .5s;
    -webkit-transition: animation .9s, animation .5s, animation .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
}

.slider:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

 .blur{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}
.slide {

   
    justify-content: center;
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;





}

.slide .blur {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    filter: blur(3px);
    top: 0vh;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;

}


.slide span {
    /* background: rgba(0, 0, 0, 0.3); */
    /* background: rgba(66, 68, 68, 0.3);
    border-radius: 5vh;
    color: #FFF;
    position: absolute;
    left: 0vw;
    font-weight: bolder;
    top: 2vh;
    bottom: 2vh;
    width: 100vw;
    font-size: 3vh;
    line-height: 5vh;
    font-family: 'Alexandria', sans-serif; */
    background: rgb(0 0 0 / 44%);
    /* border-radius: 5vh; */
    color: #FFF;
    position: absolute;
    left: 0vw;
    font-weight: bolder;
    top: 0vh;
    bottom: 2vh;
    width: 100vw;
    font-size: 3vh;
    line-height: 5vh;
    font-weight: 100;
    /* font-family: 'Alexandria', sans-serif; */
   
}

/* line */
.hr1 {
   margin-top: 20px;
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #FFFF00;
    height: 1px;
}

/* heading */
.h1 {
    
   
    /* font-family: 'Alexandria', sans-serif; */
    font-size: 20px;
    float: left;
}



.data {
    display: -webkit-box;

    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rank {
    color: #1c87c9;
    background-color: black;
}

.titile {
    color: #8ebf42;
    text-decoration: none;
    font-weight: 100;
}

@keyframes sliding {
    0% {
        left: 0%;

    }

    15% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    55% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    75% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    95% {
        left: -400%;
    }

    100% {
        left: 0;
    }
}

/* container */

/* .container {
    height: 100%;
    width: 100vw;
    font-size: 1rem;
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    min-height: fit-content;
    width: auto;
    display: inline-block;
} */

.container {
    border-radius: 20px;
    margin-top: 20px;
    background: black;
    color: #1c87c9;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    min-height: fit-content;
    width: -webkit-fill-available;
    display: contents;
}


/* .container {
    border-radius: 20px;
    margin-top: 20px;
    background: #252525;
    color: #1c87c9;
    min-height: 70vh;
    width: 90vw;
    display: table;
    padding-bottom: 20px;



} */


/* data */

.heading {
    font-size: 20px;
    /* font-family: 'Zen Kurenaido', sans-serif; */
    font-weight: bold;

}

.viewAll {
    /* font-family: 'Mulish', sans-serif; */
    position: relative;
    left: 35%;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    width: 82px;

}


.prevnex:hover {
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;


}

.Image-Name:hover {
    color: #1c87c9;
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;
  
  }

.Showing {
    padding: 5px;
}

.Image-Name:hover .show-name {

    white-space: initial;
    text-overflow: initial;
    word-wrap: normal;
    width: 210px;
    display: block;
    overflow: visible;
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;

}

#Banners-container {
    margin-top: 5px;
    width: 217px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
    border-color: aliceblue;
    /* margin-left: 15px; */
}
img{
    width: 225px;
    max-height: 400px;
   
}
.imgs{
    max-height: 400px;
    width: 225px;
}

#Banners-container img {
    width: 217px;
    
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.Image-Name {
    position: relative;
    color: white;
    width: 217px;


}

.ep {
    background: red;
    color: white;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 10px;
    font-size: 0.9em;
    /* font-family: 'Ubuntu', sans-serif; */
}

.epair {
    background: #8ebf42;
    color: black;
    padding: 2px 12px;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 10px;
    font-size: 0.9em;
    font: 900;
    /* font-family: 'Ubuntu', sans-serif; */
}

.comments {
    background: rgb(32, 241, 216);
    padding: 2px 8px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 295px;
    left: 10px;
    font-size: 0.5em;
    /* font-family: 'Ubuntu', sans-serif; */
}



.watch {
    background: rgb(32, 241, 216);
    padding: 2px 8px;
    position: absolute;
    margin-right: 4px;
    margin-bottom: 4px;
    top: 295px;
    left: 150px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    font-size: 0.5em;
    /* font-family: 'Ubuntu', sans-serif; */
}

.content-type {
    display: flex;
    height: 13px;
    margin: 7px 0 7px 0;
}





.action {
    display: flex;
    background: rgb(49, 49, 49);
    border-radius: 17px;
    padding: 6px 3px;
    font-size: 10px;
    align-items: center;
}




.show-name {

    /* font-family: 'Nunito', sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    font-size: 15px;

    cursor: default;
    margin-bottom: 5px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    width: 210px;
    overflow: visible;
    font-weight: 600;
}

.epcon {
    display: contents;
    margin-top: 20px;

}

/* btn */



.ref {
    padding-top: 20px;
    padding-right: 20px;
    float: right;

}

.btn {
    float: right;

    text-align: center;
}

.mybtn {
    border-radius: 30px;
    border-color: #8ebf42;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 16px;
    background-color: #8ebf42;
    color: black;
    transition-delay: .2s;
    transition: .3s;
    font-variant-caps: all-small-caps;
    display: inline;
    position: relative;
   

}

.mybtn:hover {
    background-color: #8ebf42;
    transform: scale(1.1);
    transition: opacity .9s,transform .5s,transform .5s;
    -webkit-transition: opacity .9s, transform .5s, transform .5s;
}
@media only screen and (max-width: 768px) {
  
    .img{
        height: 20vw;
    }
    .cont-slider{
        height: 50vw;
    }
    
   
   .slide{
    height: 50vw;
    font-size: 2vw;
    line-height: 2.5vw;
    overflow: hidden;
   }
   .bannercontent{
    font-size: 2vw;
    line-height: 2.5vw;
  
   }
   .rankfa{
    font-size: 2vw;
    line-height: 2.5vw;

   }
   .titile{
    font-size: 2vw;
    line-height: 2.5vw;
   }
   #Banners-container {
    margin-top: 5px;
margin: auto;
    height: auto;
    width: 15vw;
   }
   #Banners-container img {
    width: 15vw;
    height: 20vw;
   }
 .ep{
    display: none;
 }
 .epair{
    display: none;
 }
 .comments{
    display: none;
 }
 .watch{
    display: none;
 }
 .show-name{
    width: 14vw;
    font-size: 2vw;
 }
 .Image-Name{
    width: auto;
    margin: auto;
 }
 .container{
    padding: auto;
    height: auto;
 }
 .action{
    font-size: 1vw;
 }
 .mybtn{
    font-size: 2vw;
    font-weight: bolder;
    padding: 8px 16px;
   }
 
}