
<!-- <--------------- Navigation content-------------->
<app-searchbox></app-searchbox>

<!-- <--------------- Main content-------------->
<div class="" style="margin-top:0px">

    <app-loading-spinner *ngIf="!random"></app-loading-spinner>
    <!-- <--------------- Top Airing baner content-------------->
    <header class="cont-slider" *ngIf="random">
        <section class="slider">
            <!-- <--------------- #1 Banner content-------------->
            <article class="slide" (click)="redirect(randombaner.data[0].mal_id)">
                <span class="blur" style=" background-image: url({{randombaner.data[0].images.jpg.large_image_url}});"></span>
                <span>
                    <div class="rankfa " style="float:none"><i class="fa fa-trophy" aria-hidden="true"> </i> #1 Top
                        Airing </div>
                    <div
                        style="float:left;margin: 20px;display: block; text-align: left; display:flex; justify-content: center;">

                        <div style="float: left; padding-right: 10px;"> <img class="img" alt="banner"
                                [src]="randombaner.data[0].images.jpg.image_url" style=" border-radius: 10px; "><br>
                        </div>
                        <div class="bannercontent">
                            <a><a class="titile">Title</a> : {{randombaner.data[0].title}}</a><br>

                            <a> <a class="titile">Type</a>: {{randombaner.data[0].type}}</a><br>

                            <a><a class="titile">Status</a> : {{randombaner.data[0].status}}</a><br>

                            <a><a class="titile">Rating </a>: {{randombaner.data[0].score}}/10</a> <br>
                            <div class="data"> <a class="titile sys">Synopsis</a>: <br>{{randombaner.data[0].synopsis}}
                            </div>
                        </div>
                    </div>

                </span>
            </article>

            <!-- <--------------- #2 Banner content-------------->
            <article class="slide" (click)="redirect(randombaner.data[1].mal_id)">
                <span class="blur"
                    style=" background-image: url({{randombaner.data[1].images.jpg.large_image_url}});"></span>
                <span>
                    <div class="rankfa " style="float:none"><i class="fa fa-trophy" aria-hidden="true"> </i>#2 Top
                        Airing
                    </div>
                    <div
                        style="float:left;margin: 20px;display: block; text-align: left; display:flex; justify-content: center;">

                        <div style="float: left; padding-right: 10px;"> <img class="img" alt="banner"
                                [src]="randombaner.data[1].images.jpg.image_url" style=" border-radius: 10px;"><br>
                        </div>
                        <div class="bannercontent">
                            <a><a class="titile">Title</a> : {{randombaner.data[1].title}}</a><br>

                            <a> <a class="titile">Type</a>: {{randombaner.data[1].type}}</a><br>

                            <a><a class="titile">Status</a> : {{randombaner.data[1].status}}</a><br>

                            <a><a class="titile">Rating </a>: {{randombaner.data[1].score}}/10</a> <br>
                            <div class="data"> <a class="titile sys">Synopsis</a>: <br>{{randombaner.data[1].synopsis}}
                            </div>
                        </div>
                    </div>

                </span>
            </article>

            <!-- <--------------- #3 Banner content-------------->
            <article class="slide" (click)="redirect(randombaner.data[2].mal_id)">
                <span class="blur"
                    style=" background-image: url({{randombaner.data[2].images.jpg.large_image_url}});"></span>
                <span>
                    <div class="rankfa " style="float:none"><i class="fa fa-trophy" aria-hidden="true"> </i> #3 Top
                        Airing
                    </div>
                    <div
                        style="float:left;margin: 20px;display: block; text-align: left; display:flex; justify-content: center;">

                        <div style="float: left; padding-right: 10px;"> <img class="img" alt="banner"
                                [src]="randombaner.data[2].images.jpg.image_url" style=" border-radius: 10px;"><br>
                        </div>
                        <div class="bannercontent">
                            <a><a class="titile">Title</a> : {{randombaner.data[2].title}}</a><br>

                            <a> <a class="titile">Type</a>: {{randombaner.data[2].type}}</a><br>

                            <a><a class="titile">Status</a> : {{randombaner.data[2].status}}</a><br>

                            <a><a class="titile">Rating </a>: {{randombaner.data[2].score}}/10</a> <br>
                            <div class="data"> <a class="titile sys">Synopsis</a>: <br>{{randombaner.data[2].synopsis}}
                            </div>
                        </div>
                    </div>

                </span>
            </article>
            <!-- <--------------- #4 Banner content-------------->
            <article class="slide" (click)="redirect(randombaner.data[3].mal_id)">
                <span class="blur"
                    style=" background-image: url({{randombaner.data[3].images.jpg.large_image_url}});"></span>
                <span>
                    <div class="rankfa " style="float:none"><i class="fa fa-trophy" aria-hidden="true"> </i> #4 Top
                        Airing
                    </div>
                    <div
                        style="float:left;margin: 20px;display: block; text-align: left; display:flex; justify-content: center;">

                        <div style="float: left; padding-right: 10px;"> <img class="img" alt="banner"
                                [src]="randombaner.data[3].images.jpg.image_url" style=" border-radius: 10px;"><br>
                        </div>
                        <div class="bannercontent">
                            <a><a class="titile">Title</a> : {{randombaner.data[3].title}}</a><br>

                            <a> <a class="titile">Type</a>: {{randombaner.data[3].type}}</a><br>

                            <a><a class="titile">Status</a> : {{randombaner.data[3].status}}</a><br>

                            <a><a class="titile">Rating </a>: {{randombaner.data[3].score}}/10</a> <br>
                            <div class="data"> <a class="titile sys">Synopsis</a>: <br>{{randombaner.data[3].synopsis}}
                            </div>
                        </div>
                    </div>

                </span>
            </article>

            <!-- <--------------- #5 Banner content-------------->
            <article class="slide" (click)="redirect(randombaner.data[4].mal_id)">
                <span class="blur"
                    style=" background-image: url({{randombaner.data[4].images.jpg.large_image_url}});"></span>
                <span>
                    <div class="rankfa " style="float:none"><i class="fa fa-trophy" aria-hidden="true"> </i> #5 Top
                        Airing
                    </div>
                    <div
                        style="float:left;margin: 20px;display: block; text-align: left; display:flex; justify-content: center;">

                        <div style="float: left; padding-right: 10px;"> <img alt="banner" class="img"
                                [src]="randombaner.data[4].images.jpg.image_url" style=" border-radius: 10px;"><br>
                        </div>
                        <div class="bannercontent">
                            <a><a class="titile">Title</a> : {{randombaner.data[4].title}}</a><br>

                            <a> <a class="titile">Type</a>: {{randombaner.data[4].type}}</a><br>

                            <a><a class="titile">Status</a> : {{randombaner.data[4].status}}</a><br>

                            <a><a class="titile">Rating </a>: {{randombaner.data[4].score}}/10</a> <br>
                            <div class="data"> <a class="titile sys">Synopsis</a>: <br>{{randombaner.data[4].synopsis}}
                            </div>
                        </div>
                    </div>

                </span>
            </article>
        </section>
    </header>
</div>

<!-- <--------------- Popular Tv content-------------->
<div class="container">
    <h1 class=" h1" style="text-align: left;padding:20px"><i class="fa fa-desktop" aria-hidden="true"></i> Trending On Tv </h1>
    <hr class="hr1">

    <app-loading-spinner *ngIf="up"></app-loading-spinner>

    <div class="row " id="row" *ngIf="!up">
        <div class=" col" id="col" *ngFor="let sr of upcoming.data; let i = index">
            <div id="Banners-container" (click)="redirect(sr.mal_id)">
                <div class="Image-Name">
                    <img [src]="sr.images.jpg.image_url" alt="Fate stye night">
                    <span class="ep" *ngIf="sr.status==='Finished Airing'">{{sr.status}}</span>
                    <span class="epair" *ngIf="sr.status!='Finished Airing'">{{sr.status}}</span>
                    <span class="comments" *ngIf="!sr.score">Rating Not Available</span>
                    <span class="comments" *ngIf="sr.score"><i class="fas fa-star"></i> {{sr.score}}</span>
                    <span class="watch"><i class="fa fa-clock"></i> {{sr.duration |hrtomin}}</span>
                    <div class="content-type">
                        <span class="action">{{sr.type}}</span>
                    </div>
                    <div class="show-name">
                        {{sr.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr >
</div>

<!-- <--------------- Suggestion content-------------->
<div class="container">
    <div style="justify-content: space-between;
    display: flex;
    padding-right: 10px;
">
        <h1 class="h1" style="text-align: left;padding-left:20px ;display: inline-block; padding-top: 20px;"><i class="fa fa-random" aria-hidden="true"></i> Random
            Suggestions </h1>
        <button class="mybtn" aria-label="reload" (click)="apphome.reloadcomp()"
        >Refresh</button>
    </div>
   
    
<hr class="hr1">
    <app-random #apphome></app-random>
</div>
<!-- <--------------- Popular movie content-------------->
<div class="container">
    <h1 class="h1" style="text-align: left;padding:20px ; "><i class="fa fa-film" aria-hidden="true"></i> Trending Movies <i class="fa fa-video-camera" aria-hidden="true"></i> </h1>
    <hr class="hr1">
    <app-loading-spinner *ngIf="pop"></app-loading-spinner>
    <div class="row " id="row" *ngIf="!pop">
        <div class=" col" id="col" *ngFor="let sr of popmov.data; let i = index">
            <div id="Banners-container" (click)="redirect(sr.mal_id)">
                <div class="Image-Name">
                    <img [src]="sr.images.jpg.image_url" alt="Fate stye night">
                    <span class="ep" *ngIf="sr.status==='Finished Airing'">{{sr.status}}</span>
                    <span class="epair" *ngIf="sr.status!='Finished Airing'">{{sr.status}}</span>
                    <span class="comments" *ngIf="!sr.score">Rating Not Available</span>
                    <span class="comments" *ngIf="sr.score"><i class="fas fa-star"></i> {{sr.score}}</span>
                    <span class="watch"><i class="fa fa-clock"></i> {{sr.duration |hrtomin}}</span>
                    <div class="content-type">
                        <span class="action">{{sr.type}}</span>
                    </div>
                    <div class="show-name">
                        {{sr.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>